body{background-color: #ffffff}
h1{text-align: center;
color: #ff0017;
font-family: Fantasy;
font-size: ,60px;
letter-spacing: 5px;}
div{ margin: 10px;
border:solid #ff0017;  
}



img{ width: 300px;
height: 300;}
